## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 1
print (a)

1

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [5]:
nombre = "Tobias"

5) Crear una variable que contenga un número complejo

In [10]:
numComplejo = 2 + 1j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [13]:
print(type(numComplejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [35]:
pi =  3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [19]:
b = "true"
c = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [34]:
print("la variable b es de tipo",type(b),"la variable c es de tipo", type(c))

la variable b es de tipo <class 'str'> la variable c es de tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [36]:
e = 4 + 3.5

11) Realizar una operación de suma de números complejos

In [38]:

f = 3 + 2j
g = 2 + 1j
print(f+g)

(5+3j)

12) Realizar una operación de suma de un número real y otro complejo

In [39]:
e = 4 +3.5
f = 3 + 2j
print( e +f)

(10.5+2j)

13) Realizar una operación de multiplicación

In [24]:
e * f

14.0

14) Mostrar el resultado de elevar 2 a la octava potencia

In [32]:
print   (2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [31]:
cociente = 27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [28]:
27//4

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [29]:
27%4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [40]:
4 * 6+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [42]:
nombre= "Tobias "
apellido = "Gualchi"
print ( nombre + apellido)

Tobias Gualchi

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [27]:
"2" == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [6]:
a = float("3.8")

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [3]:
var1 = 3
var1-=1 
print   (var1)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [4]:
var2 = 1 << 2
print (var2)

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [13]:
ope = 2 + "2"
print (ope)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
float(2) + float ("2")

4.0

In [17]:
int(2) + int(2)

4

In [18]:

str(2) + str("2")

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [12]:
a = 3
b = "tengo "


print (b + str(a )+ " años")

tengo 3 años